apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: C:\ProgramData\chocolatey\lib\kubernetes-kompose\tools\kompose.exe convert
    kompose.version: 1.25.0 (a70f80cc)
  creationTimestamp: null
  labels:
    io.kompose.service: server
  name: server
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: server
  strategy: {}
  template:
    metadata:
      annotations:
        kompose.cmd: C:\ProgramData\chocolatey\lib\kubernetes-kompose\tools\kompose.exe convert
        kompose.version: 1.25.0 (a70f80cc)
      creationTimestamp: null
      labels:
        io.kompose.service: server
    spec:
      containers:
        - env:
            - name: CELERY_BACKEND
              valueFrom:
                configMapKeyRef:
                  key: CELERY_BACKEND
                  name: env
            - name: CELERY_BROKER
              valueFrom:
                configMapKeyRef:
                  key: CELERY_BROKER
                  name: env
            - name: REDIS_PASS
              valueFrom:
                configMapKeyRef:
                  key: REDIS_PASS
                  name: env
            - name: ROOT
              valueFrom:
                configMapKeyRef:
                  key: ROOT
                  name: env
            - name: VUE_APP_FLASK_HOST
              valueFrom:
                configMapKeyRef:
                  key: VUE_APP_FLASK_HOST
                  name: env
          image: server
          name: server
          ports:
            - containerPort: 80
          resources: {}
      restartPolicy: Always
status: {}
